.statistics {
  width: 320px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;

  background-color: beige;

  border: 2px;
  border-style: ridge;
}

.title {
  display: flex;
  justify-content: center;
}

.statList {
  display: flex;
  list-style: none;
  padding: 0;
}

.item {
  width: 20%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: content-box;

  border: 1px;
  border-style: inset;
}

.percentage {
  font-size: 24px;
}
